# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/

# ASP.NET
wwwroot/lib/

# OS
.DS_Store
Thumbs.db